
<!-- <link rel="preload" href="" as="image">
<link rel="preload" href="" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="" as="font" type="font/woff" crossorigin> -->
<style>
/* Fontface */
	</style>
  <style>
    /* inlineCSS */
      </style>
      <script>
        /* Inlinescripts */
          </script>

          <title>{% block title %}{% endblock %}</title>
<meta name="description" content="{% block description %}Professional digital marketer. My personal website: blog, portfolio and updates.{% endblock %}">
<meta property="og:url" content="" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="stylesheet" href="">
<link rel="canonical" href="" />